*{
    box-sizing:border-box;
}
body{
    margin:0px;
    max-width:1920px;
    min-width:360px;
}
img{
    max-width:100%;
}
.rectangle{
    background-color:#eeedef;
    height:250px;
    position: relative;
}
.headline-content{
    width:32%;
    padding:1% 5%;
    position: absolute;
    background-color: white;
    color:#0165a7;
    border-bottom:20px solid #0165a7;
    left:30%;
    top:20%;
    clear:left;
}
.img-container{
    width:30%;
    float:left;
    position:relative;
    bottom:100px;
    left:10%;
}
.content-container{
    width:55%;
    position:relative;
    left:10%;
    float:left;
    margin:10% 2% 0%;
}
.row{
    width:100%;
    position:relative;
    float:left;
}

.col1{
    width:33.3%;
    float:left;
    border-right:1px solid black;
    border-right-style:dotted;
    padding: 3%;

}
.col1-content{
    padding: 5%;
}
.col2{
    width:33.3%;
    float:left;
    border-right:1px solid black;
    border-right-style:dotted;
    padding:3%;
}
.col2-content{
    padding:5%;
}
.col3{
    width:33.3%;
    float:left;
    padding:3%;

}
.col3-content{
    padding:5%;
}
.total-modal{
    display:none;
    position:fixed;
    z-index:1;
    width:100%;
    background-color: rgba(74,74,74,0.8);
    top:0px;
    bottom:0px;
    padding:10% 30px 90%

}
.modal{
    width:100%;
    background-color:white;

}
.modal-header{
    color:white;
    background-color:#0165a7;
    padding:10%;
}
.modal-body{
    padding:5% 10%;
}
.close{
    float:right;
    font-size:200%;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .total-modal {
        display: block;
    }

    .img-container{
        width:35%;
    }
    .content-container {
        bottom: 100px;
        margin:0%;
        width:50%;
        background-color: white;
    }
    .row{
        width:100%;
        padding:5%
    }
    .col1 {
        width: 100%;
        margin-right:0%;
        border-bottom: 1px solid black;
        border-bottom-style: dotted;
        border-right-style: none;
    }

    .col2 {
        width: 100%;
        border-bottom: 1px solid black;
        border-bottom-style: dotted;
        border-right-style: none;
    }

    .col3 {
        width: 100%;

    }

    .col1-content{
        width:70%;
        float:left;
        padding: 0%;
    }
    .col2-content{
        width:70%;
        padding:0%;
        float:left;
    }
    .col3-content{
        width:70%;
        padding:0%;
        float:left;
    }
    .image1{
        width:30%;
        float:left;
    }
    .image2{
        width:30%;
        float:left;
    }
    .image3{
        width:30%;
        float:left;
    }

    .headline-content{
        left:10%;
        padding:0% 2%;
        clear:left;
        position:relative;
        bottom:150px;
    }
    .headline-content h3{
        margin:0%;
        padding:3%;
    }

    }
@media only screen and (max-width: 450px) {
    .img-container {
        display: none;
    }

    .content-container{
        width:100%;
        left:0%;
        bottom:0px;

    }

    .headline-content{
        clear:none;
        width:80%;
        height: 100px;
        position:absolute;
        top:100px;
        left:20%;
    }


}